# Created by .ignore support plugin (hsz.mobi)
/Survey_flask.zip
/flask_survey/static/assets/charts/question2pie.png
/flask_survey/static/assets/charts/question3pie.png
/flask_survey/static/assets/charts/question4cloud.png
/flask_survey/static/assets/charts/question1.png
/venv/
/venv2/
/flask_survey/static/assets/charts/
.idea/.gitignore
.idea/Survey_flask.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
Survey_flask_2.zip
__pycache__/
flask_survey/__pycache__/
mail.txt
temp_survey.json
