{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group clearfix">
                <legend class="border-bottom mb-4">Neue Frage zur Umfrage hinzufügen</legend>
                <div class="form-group">
                    {{ form.question_title.label(class="form-control-label") }}
                    {{ form.question_title(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.question_type.label(class="form-control-label") }}
                    {{ form.question_type(class="form-control form-control-lg") }}
                </div>
                <div id="radio_choices" style="display: none">
                    {{ form.radiogroup_choices(placeholder="Auswahlmöglichkeiten, durch ';' getrennt", class="form-control form-control-lg") }}
                </div>
            </fieldset>
                <div class="btn">
                    {{ form.submit_question(class="form-control form-control-lg btn-outline-dark") }}
                </div>
                <div class="btn float-right">
                    {{ form.submit_survey(class="form-control form-control-lg btn-outline-danger") }}
                </div>
        </form>

    </div>

    <div class="content-section">
        <h5> Hinzugefügte Fragen:</h5>

        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th style="width: 20%" scope="col">Typ</th>
                    <th style="width: 80%" scope="col">Frage</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in questions.items() %}
                    <tr>
                        {% if value == "rating" %}
                            <td>Numerische Wertung</td>
                            <td>{{ key }}</td>
                        {% elif value == "commentary" %}
                            <td>Kommentar</td>
                            <td>{{ key }}</td>
                        {% elif value == "text" %}
                            <td> Eingabe</td>
                            <td>{{ key }}</td>
                        {% elif value == "radiogroup" %}
                            <td>Auswahl</td>
                            <td>{{ key }}</td>
                        {% elif value == "boolean" %}
                            <td>Ja/Nein</td>
                            <td>{{ key }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    <div class="border-top pt-3">
        <small class="text-muted">
{#            Want to see results? <a class="ml-2" href="{{ url_for("results") }}"> Here </a>#}
        </small>

    </div>
{% endblock %}