{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group clearfix">
                <legend class="border-bottom mb-4">Neue Frage zur Umfrage hinzufügen</legend>
                <div class="form-group">
                    {{ form.question_title.label(class="form-control-label") }}
                    {{ form.question_title(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.question_type.label(class="form-control-label") }}
                    {{ form.question_type(class="form-control form-control-lg") }}
                </div>
                <div id="radio_choices" style="display: none">
                    {{ form.radiogroup_choices(placeholder="Auswahlmöglichkeiten, durch ';' getrennt", class="form-control form-control-lg") }}
                </div>
            </fieldset>
                <div class="btn btn-outline-info">
                    {{ form.submit_question(class="form-control form-control-lg") }}
                </div>
                <div class="btn btn-outline-info float-right">
{#                    {{ form.submit_survey.label(class="form-control-label") }}#}
                    {{ form.submit_survey(class="form-control form-control-lg") }}
                </div>
            <fieldset>
                <ul class="list-group">
                    {% for key, value in questions.items() %}
                            {% if value == "rating" %}
                                <li class="list-group-item"> {{ key }}: Numerische Wertung</li>
                            {% elif value == "commentary" %}
                                <li class="list-group-item"> {{ key }}: Kommentar</li>
                            {% elif value == "text" %}
                                <li class="list-group-item"> {{ key }}: Eingabe</li>
                            {% elif value == "radiogroup" %}
                                <li class="list-group-item"> {{ key }}: Auswahl</li>
                            {% elif value == "boolean" %}
                                <li class="list-group-item"> {{ key }}: Ja/Nein</li>
                            {% endif %}
                    {% endfor %}
                </ul>
            </fieldset>
        </form>

    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
{#            Want to see results? <a class="ml-2" href="{{ url_for("results") }}"> Here </a>#}
        </small>

    </div>
{% endblock %}