{% extends "base.html" %}

{% block content %}
    {% for survey in survey_list %}
        <div class="row">
            <div class="col-sm">
                <a href="{{ url_for("survey", uid=survey.get("Id")) }}"> {{ survey.get("Name") }} </a>
            </div>
            <div class="col-sm">
                {{ survey.get("Id") }}
            </div>
            <div class="col-sm">
                {{ survey.get("PostId") }}
            </div>
            <div class="col-sm">
                <a href="{{ url_for("results", uid=survey.get("Id")) }}"> Ergebnis </a>
            </div>
        </div>
    {% endfor %}

{% endblock %}